@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

/* ======================== CSS Rule #1 */
html {
  background-color: white;
  padding-left: 20px;
}

/* ======================== CSS Rule #2 */
h1 {
  font-family: "Poetsen One", sans-serif;
}

.container {
  display: flex;
}

#mem1panel, #mem1flip, #mem2panel, #mem2flip, #mem3flip, #mem3panel {
  padding: 5px;
  text-align: center;
  background-color: #afd7df; 
  width: 300px;
}

#mem1panel, #mem2panel, #mem3panel {
  padding: 50px;
  display: none;
  background-color: #ddf9ff;
}
